<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="an AR platform."/>
    <meta name="author" content="Arman Taherian" />
    <title>{% block title %}{% endblock %}</title>

    <meta property="og:title" content="Gemvision" />
    <meta property="og:description" content="an AR platform." />
    <!-- best size for Facebook: 1300 X 630 px -->
    <meta property="og:image" content="https://github.com/filter1/brunch-on-speed/thumbnail.jpg" />
    <meta property="og:url" content="https://github.com/filter1/brunch-on-speed">
    <meta property="og:site_name" content="Gemvision" />

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:creator" content="@armantaherian" />
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/app.css" />

    {% block header %}{% endblock %}
  </head>

  <body class="{% block body-class %}flex flex-column justify-between {% endblock %}" id="body">

    <header id="header" class="header container">
      <div class="header__logo">
        <h1><a href="home.html">Gemvision</a></h1>
        <h2>Argumented Reality Platform</h2>
      </div>

      <nav class="header__nav">
        <ul class="list-unstyled flex">
          <li class="demo"><a href="#demo" title="Request Demo">Request Demo</a></li>
        </ul>
      </nav>
    </header>

    <div class="empty"></div>

    <main id="main" class="main {% block main-class %}flex--theme flex--main {% endblock %}">
      {% block content %}{% endblock %}
    </main>

    <div class="empty"></div>

    <footer id="footer" class="footer container">
      <nav class="footer__nav">
        <ul class="list-unstyled flex">
          <li>Gemvision (C) 2016</li>
          <li><a href="about.html" title="About">About</a></li>
          <li><a href="contact.html" title="Contact">Contact</a></li>
          <li><a href="news.html" title="Newsletter">Newsletter</a></li>
          <li><a href="pressrelease.html" title="Press Release">Press Release</a></li>
        </ul>
      </nav>
    </footer>

    <div class="lb">
      <div class="lb__wrap">
        <a href="#demo" class="lb__close">x</a>

        <div class="lb__content">
          <h3 class="lb__title">Title: Request Demo</h3>

          <div class="form">
            <div class="input">
              <input type="text" name="" value="" placeholder="Company Name">
            </div>

            <div class="input">
              <input type="text" name="" value="" placeholder="Surname">
            </div>

            <div class="input">
              <input type="email" name="" value="" placeholder="Mail Address">
            </div>

            <div class="input">
              <input type="text" name="" value="" placeholder="Phone Number">
            </div>

            <div class="input">
              <textarea rows="3" placeholder="Additional Informations (optional)"></textarea>
            </div>

            <div class="input submit">
              <input type="submit" name="" value="Send">
            </div>
          </div>
        </div>
      </div>
    </div>

    {% block bodyend %}{% endblock %}

    <script src="assets/vendor/jquery/dist/jquery.min.js"></script>
    <script src="assets/vendor/smoothstate/jquery.smoothstate.min.js"></script>
    <script src="assets/vendor/fullpage.js/dist/jquery.fullpage.min.js"></script>
    <script src="assets/js/app.js"></script>
  </body>
</html>
