{% extends "./_layout.html" %}

{% block header %}{% endblock %}

{% block title %}Gemvision | About{% endblock %}

{% block body-class %}page news body--light{% endblock %}

{% block content %}
    <div class="container" data-body="page news body--light">
      <article class="section">
          <header>
            <h3>This is the about page</h3>
          </header>

          <div class="entry">
            <p>Proven that to complete a complex maintenance on ship has been improved by 25%, due to providing step by step instructions and that will boost productiveness while keeping the maintenance time as short as possible.</p>
          </div>
      </article>
    </div>
{% endblock %}

{% block bodyend %}{% endblock %}
