{% extends "./_layout.html" %}

{% block header %}{% endblock %}

{% block title %}Gemvision | Contact{% endblock %}

{% block body-class %} {% parent %} page contact body--light{% endblock %}

{% block content %}
      <div data-body="page contact body--light" class="container">
        <article class="section">
          <div class="clearfix">
            <div class="md-col md-col-4 pb2 contact__details">
              <h4>Address</h4>

              <p>
                Molengraaffsingel<br />
                12, 2629 JD Delft<br />
                The Netherlands
              </p>

              <h4>Tel</h4>
              <p>0031 (0)10 303 59 29</p>
            </div>

            <div class="md-col md-col-8">
              <div id="googleMap"></div>
            </div>
          </div>
        </article>
      </div>
{% endblock %}

{% block bodyend %}
<script>
  function myMap() {
  var myCenter = new google.maps.LatLng(51.9933448, 4.3868694);
  var mapProp= {
      center: myCenter,
      zoom:15,
  };
  var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);
  var marker = new google.maps.Marker({position: myCenter});
  marker.setMap(map);
  }
  </script>

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDtdbaBe_4KQ5omBRwMUycJt1EerpzrjUQ&callback=myMap"></script>
{% endblock %}
