{% extends "./_layout.html" %}
{% block header %}{% endblock %}
{% block title %}Gemvision | Our Features > Intelligent workflow and object recognition{% endblock %}
{% block body-class %} {% parent %} bigframe page solutions solution-item body--light{% endblock %}
{% block main-class %} {% parent %} bigframe {% endblock%}

{% block content %}
<div class="container" data-body="page body--light">
  <h1 class="h1">Intelligent workflow and object recognition</h1>
  <div class="clearfix mt1 solution-list">
    <section class="py2 solution">
      <div class="toping">
        <img src="assets/images/images/FL074961.jpg" class="fit" alt="">
      </div>
      <div class="mt2 desc">
          <p>
              Managing hundreds of field workers - keeping track of where they are, what they are working on, and how they are performing - can be stressful. You don’t have to convince us about it.<br/>
              We’ve designed our Helpdesk dashboard to make your day-to-day work that much easier. View planned field activities ahead of time and use our GPS feature to keep track the progress of all on-site engineers. Gain insights into their efficiency, and assign them to new tasks based on their proximity and expertise. To add to that, use our business intelligence (BI) tool to keep tabs on the work performed, collect and analyze relevant data, and essentially be able to better predict repair and maintenance needs. Quick and easy, with no time wasted.
          </p>
      </div>
    </section>
  </div>
</div>
{% endblock %}
