{% extends "./_layout.html" %}

{% block header %}
  <script type="text/javascript">
    paceOptions = {
      elements: false,
      restartOnPushState: false,
      restartOnRequestAfter: false,
      ajax: false,
      minTime: 0,
      ghostTime: 3000
    }
  </script>
  <script src="assets/vendor/PACE/pace.min.js"></script>
  <style type="text/css">.pace .pace-activity { display: none; }</style>
{% endblock %}

{% block title %}Gemvision{% endblock %}

{% block body-class %} {% parent %} home{% endblock %}

{% block content %}
  {% include "./_lines.html" %}
{% endblock %}

{% block bodyend %}
  <div class="first-loading">
    <div class="logo-ing">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 265.7 173.47">
        <path style="fill: #333;" d="M205.61,0H99.09L52,47.14H0v25H51.07L152.34,173.45v0h0v0L265.7,60.09ZM152.35,139.82,72.63,60.1l36.31-36.31h86.82l36.31,36.31Z"/>
        <circle class="blink-animation" style="fill: #333;" cx="151.8" cy="68.8" r="27.5"/>
      </svg>
    </div>

    <p class="slogan">
      <span>Augmented reality solutions for hands-on workers</span>
      <!-- <span>Tomorrow’s technology through today’s eyes</span>
      <span>Tomorrow’s technology through your eyes today</span> -->
    </p>
    <div class="ripple"></div>
  </div>

  <div class="inside-loading"></div>
{% endblock %}
