{% extends "./_layout.html" %}
{% block header %}{% endblock %}
{% block title %}Gemvision | Our Features > Intelligent workflow and object recognition{% endblock %}
{% block body-class %} {% parent %} bigframe page solutions solution-item body--light{% endblock %}
{% block main-class %} {% parent %} bigframe {% endblock%}

{% block content %}
<div class="container" data-body="page body--light">
  <h1 class="h1">Intelligent workflow and object recognition</h1>
  <div class="clearfix mt1 solution-list">
    <section class="py2 solution">
      <div class="toping">
        <img src="assets/images/images/FL074875.jpg" class="fit" alt="">
      </div>
      <div class="mt2 desc">
        <p>
          Forget about scrambling for missing information and work instructions while working on-site and under pressure. You can now have all the data you need in one place, at any time.<br/>
          Locate and access step-by-step guides on how to assemble, diagnose and repair a problem. Recognize objects and codes in real time. Boost productivity, reduce operational time by a proven 25%, and bring errors down to a minimum. In other words, get the job done faster, smarter and safer. With GemVision.
      </p>
      </div>
    </section>
  </div>
</div>
{% endblock %}
