{% extends "./_layout.html" %}

{% block header %}{% endblock %}

{% block title %}Gemvision | Manufactor{% endblock %}

{% block body-class %} {% parent %} page body--light{% endblock %}

{% block content %}
      <div class="container" id="fullpage" data-body="page body--light">
        <article class="section section--w-image" id="section1" data-anchor="reduce">
          <div class="clearfix">
            <header>
              <h3>Reduce operation time by 25%</h3>
            </header>

            <div class="flex">
              <div class="image">
                <img src="assets/images/images/FL074875.jpg">
              </div>

              <div class="description">
                <div class="entry">
                  <p>Proven that to complete a complex maintenance on ship has been improved by 25%, due to providing step by step instructions and that will boost productiveness while keeping the maintenance time as short as possible.</p>
                </div>
              </div>
            </div>
          </div> <!-- /.clearfix -->

        </article>

        <article class="section section--w-image" id="section2" data-anchor="instant">
          <div class="clearfix">
            <header>
              <h3>Instant video stream with drawing</h3>
            </header>

            <div class="flex">
              <div class="image">
                <img src="assets/images/images/FL074920.jpg">
              </div>

              <div class="description">
                <div class="entry">
                  <p>Expert are just minute away to help you with secure HD video connection. They are able to see what an engineer see through smart glass. Invite others to ‘see what you see’ through a live video stream so you can collaborate and troubleshoot in real-time.</p>
                </div>
              </div>
            </div>
          </div> <!-- /.clearfix -->
        </article>

        <article class="section section--w-image" id="section3" data-anchor="intelligent">
          <div class="clearfix">
            <header>
              <h3>Create Intelligent workflow and detect objects</h3>
            </header>

            <div class="flex">
              <div class="image">
                <img src="assets/images/images/FL074900.jpg">
              </div>

              <div class="description">
                <div class="entry">
                  <p>Workflow that explains step by step guide to assemble, repair or diagnose a problem, GVP platform detect object in real-time using state of the art machine learning technology techniques. Platform gives the ability for the operators to do their job faster, smarter and safer.</p>
                </div>
              </div>
            </div>
          </div> <!-- /.clearfix -->
        </article>

        <article class="section section--w-image" id="section4" data-anchor="helpdesk">
          <div class="clearfix">
            <header>
              <h3>Helpdesk control</h3>
            </header>

            <div class="flex">
              <div class="image">
                <img src="assets/images/images/FL074961.jpg">
              </div>

              <div class="description">
                <div class="entry">
                  <p>Beautiful dashboard where you as a manager can view all the activities of the operators ahead of time. Knowing the location of an operator to assign a new task, gain insight on productivity and efficiency by analyzing the data.</p>
                </div>
              </div>
            </div>
          </div>
        </article>
      </div>
{% endblock %}

{% block bodyend %}{% endblock %}
