{% extends "./_layout.html" %}
{% block header %}{% endblock %}
{% block title %}Gemvision | Our Solutions{% endblock %}
{% block body-class %} {% parent %} bigframe page solutions body--light{% endblock %}
{% block main-class %} {% parent %} bigframe {% endblock%}

{% block header-nav %}{{ headerNav("oursolutions")}}{% endblock %}

{% block content %}
<div class="container" data-body="page body--light">
  <h1 class="h1 bold">Our Solutions</h1>
  <div class="clearfix mt1 solution-list">
    <section class="col md-col-4 px1 py2 solution">
      <div class="toping">
        <img src="assets/images/images/FL074920.jpg" class="fit" alt="">
        <h2>Health</h2>
      </div>
      <div class="mt2 desc">
        <p>
            Imagine a patient doesn’t have to travel to a hospital with time, expenses and pain included.<br/>

            Gem Vision offers a platform that runs on premise within a hospital so all data is secured. It allows specialists to do telemedicine appointments. It will give them the possibility to assist nurses remotely, make notes in the live videoconference and save progress of a patient recovery by taking and saving pictures or videos in a secure location. Besides that Gem Vision creates workflows with 3D images that will guide the nurse in doing her job.<br/>

            Gem Vision creates an efficient way of working, is cost reducing, but above all; makes the life of a patient nicer.
        </p>
        <!-- <a href="#more" class="readmore">Read more...</a> -->
      </div>
    </section>
    <section class="col md-col-4 px1 py2 solution">
      <div class="toping">
        <img src="assets/images/images/FL074828.jpg" class="fit" alt="">
        <h2>Maritime</h2>
      </div>
      <div class="mt2 desc">
        <p>
            First time fix rates, travel expenses, having data available at the right time and connectivity are big issues in the maritime industry. Using the Gem Vision Platform we will increase the fix rates, decrease travel expenses, make the right data available at the right time and make sure that connectivity is not an issue using our connection kit.<br/>
            Using this technology the biggest concern of our clients in this sector is the connectivity. We tested our platform / videoconferencing tool with success on a 128 kb bandwidth, but with our connection kits we make sure we have internet available anywhere and anytime. Besides that our platform works party offline, so a lot of features will be available without an internet connection:<br/>
            4G case light, 4G case medium, 4G case heavy, Satellite case.<br/>

            Other issues are travel costs which are mostly created by first time fix rates and the right data at the right time. Gem Vision offers a platform that connects with database of customers, showing the right data and solutions that is needed on a certain moment. Within our map we show where the engineers are at work, so you can easily plan new assignments. The videoconferencing tool we created gives you the possibility to draw in this live connection and give orders and instructions from behind your desk.<br/>

            Gem Vision creates a first time fix rate of 100%, reduces travel costs and makes sure data and support are available at the right time at the right moment.
        </p>
        <!-- <a href="#more" class="readmore">Read more...</a> -->
      </div>
    </section>
    <section class="col md-col-4 px1 py2 solution">
      <div class="toping">
        <img src="assets/images/images/FL074875.jpg" class="fit" alt="">
        <h2>Industry</h2>
      </div>
      <div class="mt2 desc">
        <p>
          One of the biggest challenges in this big sector is getting the right people, the right information and the right knowledge at the right time on a certain place.
          <br/>
          Getting the right technical knowhow into your company is a challenge everyone has. Young people wants to sit behind a desk and technical specialists are scarce. Besides that older employees with a lot of knowledge are leaving the company or are because of injuries not fit enough to do their daily work. It would be great to have the knowledge of an older engineer with the knowledge he has available for a junior engineer in the field, seeing what the junior sees and offer the knowledge needed.
          <br/>
          Gem Vision offers a live videoconference in a smart glass so the senior can see what the junior does and give him feedback using live drawing technology that allows the senior to draw and show the junior which steps to take. The junior has his hands free, which makes him work safe and efficient.
          With our Gem Vision object recognition tool we will be able to recognise objects, error codes and product codes. This technique makes sure that human errors are reduced to a minimum, because a computer makes no mistakes. With this information we can provide a step by step instruction in text or 3d models to show the junior how to fix the problems.
          <br/>
          Gem Vision makes sure the right people with the right information and the right knowledge are available at the right time at a certain place.
        </p>
        <!-- <a  href="#more" class="readmore">Read more...</a> -->
      </div>
    </section>
    <a href="#more" class="readmore"></a>
  </div>

</div>

{% endblock %}

{% block bodyend %}
<script>
  $(function(){
    var listElm = $('.solution-list');

    setTimeout(function(){
    bindReadmore();
    }, 100);

    $(window).resize(function() {
      if ($(window).outerWidth()<832){
        listElm.removeClass('closed');
        $('a.readmore').hide();
      } else if (listElm.data('readmore')) {
        listElm.addClass('closed');
        listElm.css({ height: 630 })
        $('a.readmore').show();
      } else {
        bindReadmore();
      }
    })

    function bindReadmore() {
      if ($(window).outerWidth()<832) return;
      var height = listElm.outerHeight();
      listElm.data('readmore',true);
      listElm.addClass('closed');
      $('a.readmore', listElm).click(function(){
        listElm.toggleClass("closed");
        if (listElm.hasClass('closed')) {
          listElm.css({ height: 630 })
        } else {
          listElm.css({ height: height+30 });
        }
      });
    }
  });
</script>
{% endblock %}
