{% extends "./_layout.html" %}
{% block header %}{% endblock %}
{% block title %}Gemvision | Our Solutions{% endblock %}
{% block body-class %} {% parent %} bigframe page solutions body--light{% endblock %}
{% block main-class %} {% parent %} bigframe {% endblock%}

{% block header-nav %}{{ headerNav("oursolutions")}}{% endblock %}

{% block content %}
<div class="container" data-body="page body--light">
  <h1 class="h1 bold">Our Solutions</h1>
  <div class="clearfix mt1 solution-list">
    <section class="col md-col-4 px1 py2 solution">
      <div class="toping">
        <img src="assets/images/images/FL074920.jpg" class="fit" alt="">
        <h2>Health</h2>
      </div>
      <div class="mt2 desc">
        <p>
          Imagine a patient doesn’t have to travel to a hospital with time, expenses and pain included.
          <a href="/health.html" title="Read More" class="readmore">(read more...)</a>
        </p>
      </div>
    </section>
    <section class="col md-col-4 px1 py2 solution">
      <div class="toping">
        <img src="assets/images/images/FL074828.jpg" class="fit" alt="">
        <h2>Maritime</h2>
      </div>
      <div class="mt2 desc">
        <p>
          First time fix rates, travel expenses, having data available at the right time
          <a href="/maritime.html" title="Read More" class="readmore">(read more...)</a>
        </p>
      </div>
    </section>
    <section class="col md-col-4 px1 py2 solution">
      <div class="toping">
        <img src="assets/images/images/FL074875.jpg" class="fit" alt="">
        <h2>Industry</h2>
      </div>
      <div class="mt2 desc">
        <p>
          One of the biggest challenges in this big sector is getting the right people
          <a  href="/industry.html" title="Read More" class="readmore">(read more...)</a>
        </p>
      </div>
    </section>
  </div>

</div>

{% endblock %}
