{% extends "./_layout.html" %}

{% block header %}{% endblock %}

{% block title %}Gemvision | Press Release{% endblock %}

{% block body-class %}page press body--light{% endblock %}

{% block main-class %}bigframe{% endblock %}

{% block content %}
    <div class="container">
      <h1 class="h1 bold">Press Release</h1>
      <div class="px4 pt4">
        <section class="press-item clearfix">
          <h3 class="h3 bold">
            <a target="_black" href="assets/docs/Press release Daikin - Gem Vision (4).pdf">Field engineers DAIKIN on the road with innovative augmented reality glasses</a>
          </h3>
          <div class="clearfix my2">
            <div class="col sm-col-3">
                <img class="thumb" src="assets/images/images/FL074900.jpg" alt="">
            </div>
            <div class="col sm-col-9">
                <p class="pl3">
                  Deploy technical staff more efficiently with an innovative IT solution: Daikin is doing it. Thanks to
                  augmented reality glasses worn by the engineers, the service desk literally has eyes in the field.
                  Engineers can use these glasses to access databases with error codes and request assistance from the
                  service staff. They can watch live and provide instructions as if they were on site.
                </p>
            </div>
          </div>
        </section>
      </div>
    </div>
{% endblock %}

{% block bodyend %}{% endblock %}
