{% extends "./_layout.html" %}

{% block header %}{% endblock %}

{% block title %}Gemvision | Press Release{% endblock %}

{% block body-class %}page press body--light{% endblock %}

{% block main-class %}bigframe{% endblock %}

{% block content %}
    <div class="container">
      <h1 class="h1 bold">Press Release</h1>
      <div class="px4 pt4">
        <section class="press-item clearfix">
          <h3 class="h3 bold">AR can potentially save money</h3>
          <div class="clearfix my2">
            <div class="col col-3">
                <img class="thumb" src="assets/images/images/FL074900.jpg" alt="">
            </div>
            <div class="col col-9">
                <p class="pl3">
                    With Augmented Reality you can get support everywhere even far away from the land
                </p>
            </div>
          </div>
        </section>
      </div>
    </div>
{% endblock %}

{% block bodyend %}{% endblock %}
