{% extends "./_layout.html" %}
{% block header %}{% endblock %}
{% block title %}Gemvision | Our Features > Quality control & real-time visual collaboration{% endblock %}
{% block body-class %} {% parent %} bigframe page solutions solution-item body--light{% endblock %}
{% block main-class %} {% parent %} bigframe {% endblock%}

{% block content %}
<div class="container" data-body="page body--light">
  <h1 class="h1">Quality control & real-time visual collaboration</h1>
  <div class="clearfix mt1 solution-list">
    <section class="py2 solution">
      <div class="toping">
        <img src="assets/images/images/FL074900.jpg" class="fit" alt="">
      </div>
      <div class="mt2 desc">
          <p>Getting the job done is important, but getting it done well - with proof to show for it - is crucial. For any work you perform, you would need a second pair of eyes to do a quality check. But that doesn’t necessarily have to happen in person, at least not with our GemVision technology.<br/>
            Simply give a voice command to take a picture or video of the job you have done, and share it with a colleague at the office. With our visual collaboration tool, they can draw or write straight onto the file they receive, and give their feedback and/or approve in real time.</p>
      </div>
    </section>
  </div>
</div>
{% endblock %}
